# Byte-compiled files
*.pyc
__pycache__/
.pytest_cache/
venv
.venv

# Cache
.cache

# Directories
build
dist
MACOSX
typings

# Environments
.env

# Files
*.log
*.sqlite3
*.db

# IDE files
.DS_Store
.idea/