<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Jawara</title>
    <link rel="icon" type="image/x-icon" href="assets/assets/favicon.ico" />
    <link rel="stylesheet" href="assets/css/index.css" />
  </head>
  <body>
    <main>
      <h1>JAWARA</h1>
      <p>
        Sistem Informasi Manajemen Warga Terpadu. Kelola data kependudukan,
        surat pengantar, dan laporan kas dengan mudah, cepat, dan transparan.
      </p>
      <div>
        <a href="/residents">Warga</a>
        <a href="/vegetable-quality">Keutuhan Sayur</a>
      </div>
    </main>
    <h5>
      Made with ❤️ by
      <a href="https://github.com/a6iyyu">Rafi Abiyyu Airlangga</a>
    </h5>
    <script src="assets/js/index.js" type="module"></script>
  </body>
</html>